# ==============================================================================
# GENERAL CONFIGURATION
# ==============================================================================
PLAYLIST_URL=
DESTINATION_DIR=
ARCHIVE_FILE=

# ==============================================================================
# MSSQL DATABASE SETTINGS
# ==============================================================================
MSSQL_SERVER=
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_DRIVER=


# ==============================================================================
# TELEGRAM SETTINGS
# ==============================================================================

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=