PLAYLIST_URL=YOUR_PLAYLIST_LINK
DESTINATION_DIR=YOUR_TARGET_DRIECTORY

# ==============================================================================
# MSSQL DATABASE SETTINGS
# ==============================================================================
MSSQL_SERVER=YOUR_SERVER_IP
MSSQL_DATABASE=YOUR_DATABSE_NAME
MSSQL_USER=YOUR_USERNAME
MSSQL_PASSWORD=YOUR_SECURE_PASSWORD
MSSQL_DRIVER=YOUR_DRIVER

# ==============================================================================
# BREVO / SMTP EMAIL SETTINGS
# ==============================================================================

BREVO_SMTP_HOST=BREVO_HOST
BREVO_SMTP_PORT=YOUR_BREVO_PORT
BREVO_USER=YOUR_BREVO_PASSWORD
BREVO_PASS=YOUR_BREVO_API_KEY

SENDER_EMAIL=YOUR_SENDER_EMAIL
RECIPIENT_EMAIL=YOUR_RECIPIENT_EMAIL